In [68]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/multilanguagetweets-covid19-untilmay-08-2022/full_dataset_clean.tsv
/kaggle/input/multilanguagetweets-covid19-untilmay-08-2022/full_dataset_clean_2.csv
/kaggle/input/multilanguagetweets-covid19-untilmay-08-2022/full_dataset_clean_1.csv
/kaggle/input/multilanguagetweets-covid19-untilmay-08-2022/full_dataset_clean_0.csv

In [ ]:
dados = pd.read_csv('../input/multilanguagetweets-covid19-untilmay-08-2022/full_dataset_clean_0.csv', sep='\t')
dados
#OK

In [ ]:
#executar uma tabela de cada vez

dados = pd.read_csv('../input/multilanguagetweets-covid19-untilmay-08-2022/full_dataset_clean_1.csv', sep='\t', names=['tweet_id', 'date', 'time', 'lang', 'country_place'])
dados
#OK

In [29]:
#executar uma tabela de cada vez

dados = pd.read_csv('../input/multilanguagetweets-covid19-untilmay-08-2022/full_dataset_clean_2.csv', sep='\t', names=['tweet_id', 'date', 'time', 'lang', 'country_place'])
dados

                      tweet_id        date      time lang country_place
0          1361747737801355268  2021-02-16  18:42:15   en           NaN
1          1361747740137562117  2021-02-16  18:42:15   en           NaN
2          1361747740766605313  2021-02-16  18:42:16   es           NaN
3          1361747740900929538  2021-02-16  18:42:16   en           NaN
4          1361747741379067911  2021-02-16  18:42:16   fr           NaN
...                        ...         ...       ...  ...           ...
101345810  1523112585825980416  2022-05-08  01:28:33   es           NaN
101345811  1523112588560674817  2022-05-08  01:28:33   en           NaN
101345812  1523112588606775296  2022-05-08  01:28:33   en           NaN
101345813  1523112595770646528  2022-05-08  01:28:35   es           NaN
101345814  1523112597502889984  2022-05-08  01:28:35  und           NaN

[101345815 rows x 5 columns]

In [61]:
#limpa as células vazias que podem dar problema depois

dados.isnull().sum()

tweet_id    0
dtype: int64

In [31]:
#retira as colunas 'county_place' e 'time' direto do dataframe"

dados.drop(columns=['country_place', 'time'], inplace=True)
dados

                      tweet_id        date lang
0          1361747737801355268  2021-02-16   en
1          1361747740137562117  2021-02-16   en
2          1361747740766605313  2021-02-16   es
3          1361747740900929538  2021-02-16   en
4          1361747741379067911  2021-02-16   fr
...                        ...         ...  ...
101345810  1523112585825980416  2022-05-08   es
101345811  1523112588560674817  2022-05-08   en
101345812  1523112588606775296  2022-05-08   en
101345813  1523112595770646528  2022-05-08   es
101345814  1523112597502889984  2022-05-08  und

[101345815 rows x 3 columns]

In [32]:
#seleciona apenas os registros em que 'lang' contenha o valor 'pt'

dados = dados[dados['lang'] == 'pt']
dados

                      tweet_id        date lang
35         1361747771531878403  2021-02-16   pt
37         1361747778884542464  2021-02-16   pt
39         1361747780541292546  2021-02-16   pt
48         1361747788514562048  2021-02-16   pt
91         1361747823377739778  2021-02-16   pt
...                        ...         ...  ...
101345639  1523111220168904704  2022-05-08   pt
101345641  1523111229707145217  2022-05-08   pt
101345740  1523112029095366656  2022-05-08   pt
101345752  1523112153007509504  2022-05-08   pt
101345802  1523112543690149889  2022-05-08   pt

[3820969 rows x 3 columns]

In [33]:
#converte os dados da coluna 'date' de string em um formato próprio para datas

dados['date'] = pd.to_datetime(dados['date'])
dados

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

                      tweet_id       date lang
35         1361747771531878403 2021-02-16   pt
37         1361747778884542464 2021-02-16   pt
39         1361747780541292546 2021-02-16   pt
48         1361747788514562048 2021-02-16   pt
91         1361747823377739778 2021-02-16   pt
...                        ...        ...  ...
101345639  1523111220168904704 2022-05-08   pt
101345641  1523111229707145217 2022-05-08   pt
101345740  1523112029095366656 2022-05-08   pt
101345752  1523112153007509504 2022-05-08   pt
101345802  1523112543690149889 2022-05-08   pt

[3820969 rows x 3 columns]

In [34]:
#indexa os registros de acordo com a data deles (aparentemente isso facilita os próximos passos)

dados.set_index(['date'], inplace=True)
dados

                       tweet_id lang
date
2021-02-16  1361747771531878403   pt
2021-02-16  1361747778884542464   pt
2021-02-16  1361747780541292546   pt
2021-02-16  1361747788514562048   pt
2021-02-16  1361747823377739778   pt
...                         ...  ...
2022-05-08  1523111220168904704   pt
2022-05-08  1523111229707145217   pt
2022-05-08  1523112029095366656   pt
2022-05-08  1523112153007509504   pt
2022-05-08  1523112543690149889   pt

[3820969 rows x 2 columns]

In [35]:
#busca o índice de acordo com o corte estabelecido nos []
#definir um intervalo de tempo com ['data-inicial':'data-final']

dados = dados.loc['2020-03-01':'2021-03-01'] 
dados

                       tweet_id lang
date
2021-02-16  1361747771531878403   pt
2021-02-16  1361747778884542464   pt
2021-02-16  1361747780541292546   pt
2021-02-16  1361747788514562048   pt
2021-02-16  1361747823377739778   pt
...                         ...  ...
2021-03-01  1366538677485268992   pt
2021-03-01  1366538694413463560   pt
2021-03-01  1366538727410044928   pt
2021-03-01  1366538731084201986   pt
2021-03-01  1366538742283001860   pt

[178575 rows x 2 columns]

In [60]:
#reseta o índice para um formato de contador incremental
#agora que a pesquisa pelas datas está realizada, elas são peso um desnecessário

dados.reset_index(drop=True, inplace=True)
dados

                    tweet_id
0        1233904816545361920
1        1233904847323312130
2        1233904887701876737
3        1233904887798411265
4        1233904896459649024
...                      ...
7564399  1366538677485268992
7564400  1366538694413463560
7564401  1366538727410044928
7564402  1366538731084201986
7564403  1366538742283001860

[7564404 rows x 1 columns]

In [37]:
#retira a coluna 'lang', pois todos os registros já são 'pt' e não precisamos mais deles

dados.drop(columns=['lang'], inplace=True)
dados

/opt/conda/lib/python3.7/site-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

                   tweet_id
0       1361747771531878403
1       1361747778884542464
2       1361747780541292546
3       1361747788514562048
4       1361747823377739778
...                     ...
178570  1366538677485268992
178571  1366538694413463560
178572  1366538727410044928
178573  1366538731084201986
178574  1366538742283001860

[178575 rows x 1 columns]

In [38]:
#salvando os dados em um dataframe de backup para processar as outras partes do dataset

dados2 = dados.copy()
dados2

                   tweet_id
0       1361747771531878403
1       1361747778884542464
2       1361747780541292546
3       1361747788514562048
4       1361747823377739778
...                     ...
178570  1366538677485268992
178571  1366538694413463560
178572  1366538727410044928
178573  1366538731084201986
178574  1366538742283001860

[178575 rows x 1 columns]

In [39]:
dados0

                    tweet_id
0        1233904816545361920
1        1233904847323312130
2        1233904887701876737
3        1233904887798411265
4        1233904896459649024
...                      ...
3747625  1281249014298685440
3747626  1281249021869219840
3747627  1281249029674991616
3747628  1281249039347048453
3747629  1281249042035548161

[3747630 rows x 1 columns]

In [40]:
dados1

                    tweet_id
0        1281249082384793601
1        1281249094820925440
2        1281249100969672706
3        1281249101141729283
4        1281249110440509442
...                      ...
3638194  1361747683342503938
3638195  1361747706725732356
3638196  1361747709607227398
3638197  1361747711758843909
3638198  1361747722529816578

[3638199 rows x 1 columns]

In [41]:
dados2

                   tweet_id
0       1361747771531878403
1       1361747778884542464
2       1361747780541292546
3       1361747788514562048
4       1361747823377739778
...                     ...
178570  1366538677485268992
178571  1366538694413463560
178572  1366538727410044928
178573  1366538731084201986
178574  1366538742283001860

[178575 rows x 1 columns]

In [58]:
#concatenando as três partes já filtradas em um só dataframe com os tweets BR sobre COVID

dados = pd.concat([dados0, dados1, dados2])

In [62]:
dados

                    tweet_id
0        1233904816545361920
1        1233904847323312130
2        1233904887701876737
3        1233904887798411265
4        1233904896459649024
...                      ...
7564399  1366538677485268992
7564400  1366538694413463560
7564401  1366538727410044928
7564402  1366538731084201986
7564403  1366538742283001860

[7564404 rows x 1 columns]

In [64]:
#escevendo o dataframe em um .csv que possui apenas os registros de ID, para serem hidratados na próxima etapa

dados.to_csv('tweets2020-BRCovid.csv', index=False, header=False)